In [55]:
import pandas as pd   
from splinter import Browser   
#from selenium import webdriver 
from bs4 import BeautifulSoup as bs
import requests as req     
from pprint import pprint
import time

In [56]:
# SPLINTER NASA Mars News 
browser = Browser('chrome', headless=False)
browser.visit('https://mars.nasa.gov/news/')
time.sleep( 1 )

In [57]:
html = browser.html
nasa_soup = bs(html, 'html.parser')

In [58]:
nntitle = nasa_soup.find("div", class_="content_title").text
nnparagraph = nasa_soup.find("div", class_="article_teaser_body").text
print(f"Title: {nntitle}")
print(f"Paragraph: {nnparagraph}")

Title: HiRISE Views NASA's InSight and Curiosity on Mars
Paragraph: New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.

In [59]:
# Mars Image
browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')
time.sleep( 1 )
html = browser.html
soup = bs(html, "html.parser")
theimage = soup.find("img", class_="thumb")["src"]
image_url = "https://www.jpl.nasa.gov" + theimage
image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23485-640x350.jpg'

In [60]:
#Mars WeaTHER
browser.visit('https://twitter.com/marswxreport?lang=en')
tweet_html = browser.html                                                   
tweet_soup = bs(tweet_html, 'html.parser')
mars_weather = tweet_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)\npressure at 7.20 hPapic.twitter.com/VONawbIeG4'

In [61]:
#Mars Facts
factsurl = 'https://space-facts.com/mars/'
time.sleep( 1 )
tables = pd.read_html(factsurl)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [62]:
df = tables[0]
df.columns = ['Mars/Earth', 'Mars', 'Earth']
df.head()

           Mars/Earth             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [63]:
df.set_index('Mars/Earth', inplace=True)
df.head()

                               Mars            Earth
Mars/Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [65]:
html_table = df.reset_index().to_html(index = False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Mars/Earth</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [66]:
browser.quit()

In [67]:
#JPL Mars Space Images -
browser = Browser('chrome', headless=False)
time.sleep( 1 )

In [68]:
ImageURLs = []
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
time.sleep( 1 )
CerberusHemisphereEnhanced = browser.find_by_text('Cerberus Hemisphere Enhanced')
cerber = CerberusHemisphereEnhanced.click()
browser.url
ImageURLs.append(browser.url)
ImageURLs
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
time.sleep( 1 )
SchiaparelliHemisphereEnhanced = browser.find_by_text('Schiaparelli Hemisphere Enhanced')
SchiaparelliHemisphereEnhanced.click()
browser.url
ImageURLs.append(browser.url)
ImageURLs
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
time.sleep( 1 )
SyrtisMajorHemisphereEnhanced = browser.find_by_text('Syrtis Major Hemisphere Enhanced')
SyrtisMajorHemisphereEnhanced.click()
browser.url
ImageURLs.append(browser.url)
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
time.sleep( 1 )
VallesMarinerisHemisphereEnhanced = browser.find_by_text('Valles Marineris Hemisphere Enhanced')
VallesMarinerisHemisphereEnhanced.click()
ImageURLs.append(browser.url)
ImageURLs

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [69]:
browser.quit()

In [70]:
# Mars Info Dictionary
scrapeddata = {"mars_news":nntitle,"mars_paragraph":nnparagraph,"mars_image":image_url,
    "mars_weather":mars_weather,"mars_facts":html_table,"mars_hemisphere":ImageURLs}


print(scrapeddata)

{'mars_news': "HiRISE Views NASA's InSight and Curiosity on Mars", 'mars_paragraph': 'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.', 'mars_image': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23485-640x350.jpg', 'mars_weather': 'InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)\npressure at 7.20 hPapic.twitter.com/VONawbIeG4', 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Mars/Earth</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>', 'mars_hemisphere': ['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']}